@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Cambiar variables si el sistema prefiere modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #222d44;
    --foreground: #ededed;
  }
}

/* Cambiar variables si la clase dark está activa */
.dark {
  --background: #111827;
  --foreground: #ededed;
}

/* Aplica variables al body */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.leaflet-popup-content-wrapper {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded font-semibold transition-all duration-150 inline-flex items-center justify-center;
  }

  .btn-primary {
    @apply bg-indigo-600 text-white hover:bg-indigo-700;
  }

  .btn-ghost {
    @apply bg-white text-gray-800 border border-gray-200 hover:bg-gray-50;
  }

  .dark .btn-ghost {
    @apply bg-gray-800 text-white border-gray-700 hover:bg-gray-700;
  }

  .btn:focus {
    @apply ring-2 ring-indigo-300;
  }
}


